@{
    ViewBag.Title = "Home Page";
}

<main style="margin:200px 150px">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Household Management System</h1>
        <p class="lead" style="text-align:center">
            This project creatively integrates a Personal Finance Tracker and a House Cleaning Pipeline to streamline household management. The finance tracker helps family members manage expenses, while the cleaning pipeline organises household chores among members. The integration allows users to track expenses related to household tasks and manage a To-Do list, enhancing both financial and household task management.
        </p>
        <div style="display:flex;justify-content:center"><a href="/TodoItem/ListTodoItems" class="btn btn-primary btn-md">Let's get started &raquo;</a></div>
    </section>

@*    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>*@
</main>